html, body {
    height: 100vh;
    overflow-y: hidden;
}

body {
    display: flex;
}

#root {
    flex: auto;
    display: flex;
}

.column-money {
    text-align: right;
}

.txns-table tr td, .txns-table tr th {
    padding: 3px !important;
}
